<!-- <div style="width: 100%;" class="d-flex justify-content-center align-items-center">
    <mat-card class="example-card " style="width: 200%;">
        <mat-card-title-group>
            <mat-card-title>¡aaaaa</mat-card-title>
            <mat-card-subtitle>
                2 / 10</mat-card-subtitle>
            <img mat-card-sm-image class="rounded" src="../../../assets/img/users/noperfil.jpg">
        </mat-card-title-group>
        <mat-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, in. Perferendis fugit neque consequuntur
            fugiat ducimus, minima, et voluptatum architecto sit, similique expedita fuga illo reprehenderit cum
            accusantium commodi. Est.
        </mat-card-content>


    </mat-card>

</div>



<div class="row d-flex align-items-center flex-row">

    <div class="col-lg-6 ">


        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
    </div>

    <div class="col-lg-6">
        <img class="img-fluid" style="max-width: 10rem;" src="../../../../assets/logos/logoBlupNegro.png">
    </div>

</div>
 -->
<!-- <div class="card mb-3">
    <img class="card-img-left" src="../../../../assets/logos/logoBlupNegro.png" style="max-width: 10rem;"
        alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div> -->


<mat-card style="max-width: 50rem;">

    <div class="d-flex">
        <div style="width: 40%;"> <img mat-card-md-image src="{{reserva.urlPerfil}}"></div>
        <div style="width: 60%; font-size: 1.2rem ; text-align: justify;" class="d-flex flex-column">
            <!-- <mat-card-title>Actions Buttons</mat-card-title>
            <mat-card-subtitle>End</mat-card-subtitle> -->
            <p><span  class=" p-2 header-card" > Nombre : </span> <i style="font-weight: none;">{{ reserva.nombre_local }}</i></p>
            <p> <span class=" p-2 header-card"> Hora : </span> <i> {{ reserva.hora + ' - ' + reserva.fecha }} </i> </p>
            <p> <span class=" p-2 header-card"> Estado: </span>  <i [ngClass]="{'aceptada':reserva.idEstado === 1,'reservada':reserva.idEstado === 2, 'sirviendo':reserva.idEstado === 3,'finalizada':reserva.idEstado === 4}"> {{reserva.nombreEstado}} </i></p>
        </div>
    </div>




    <mat-card-actions align="end">
        <button mat-button (click)="updateReserva()"> Ver </button>
    </mat-card-actions>
</mat-card>



<!-- 

<div class="targeta-container d-flex">
    <div style=" width: 50%; " class="d-flex justify-content-center">
        <img class="" style="max-width: 10rem; height: 10rem;" src="../../../../assets/logos/logoBlupNegro.png">
    </div>
    <div style=" width: 50%;  font-size: 1rem;" class="d-flex justify-content-center align-items-center flex-column">
        <p class=" rounded bg-info p-1 m-2">Numero reserva</p>


        <p class="separador">Nombre Local</p>
        <mat-divider style="background-color: black;"></mat-divider>
        <p class="separador">fecha hora</p>

        <p> <button mat-button>Acciones</button> </p>
    </div>
</div> -->