<h2 mat-dialog-title style="width: 100%; " class="p-3">
  <div class="d-flex justify-content-between ">
    <div fxLayout="column" fxLayoutGap="gappx">
      <div>
        <div *ngIf="!data.edit">
          Reservar
        </div>
        <div *ngIf="data.edit">
          Editar reserva
        </div>
      </div>
    </div>
    <button mat-icon-button mat-dialog-close aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</h2>



<mat-dialog-content style="width: 100%; max-height: 100rem;">

  <!-- <form > -->

  <mat-stepper orientation="vertical">
    <mat-step>
      <ng-template matStepLabel>Informacion usuario</ng-template>
      <ng-template matStepContent>
        <div class="d-flex justify-content-start flex-column">
          <mat-form-field appearance="outline">
            <mat-label>Nombre </mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Telefono </mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email </mat-label>
            <input matInput>
          </mat-form-field>

        </div>


        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>

      </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Informacion local</ng-template>
      <ng-template matStepContent>
        <div class="d-flex justify-content-start flex-column">
          <mat-form-field appearance="outline">
            <mat-label>Nombre </mat-label>
            <input matInput disabled="">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>direccion </mat-label>
            <input matInput disabled="">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email </mat-label>
            <input matInput disabled="">
          </mat-form-field>

        </div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Numero personas </ng-template>
      <ng-template matStepContent>

        <div class="d-flex justify-content-between flex-row">

          <mat-form-field appearance="outline">

            <mat-label>direccion </mat-label>
            <input matInput disabled="">



          </mat-form-field>
          <div class="d-flex flex-column ">
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
              <mat-icon>expand_less</mat-icon>
            </button>

            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
              <mat-icon> expand_more</mat-icon>
            </button>

          </div>
        </div>

        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>



    <mat-step>
      <ng-template matStepLabel> Hora / dia </ng-template>
      <ng-template matStepContent>
        <mat-form-field appearance="outline">

          <input matInput formControlName="releasedAt" 
                 [matDatepicker]="releasedAtPicker">
        
          <mat-datepicker-toggle matSuffix [for]="releasedAtPicker" [disabled]="false">
        
          </mat-datepicker-toggle>
        
          <mat-datepicker #releasedAtPicker [disabled]="false">
        
          </mat-datepicker>
        
        </mat-form-field>
        
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel> zona </ng-template>
      <p>This content was rendered eagerly</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel> comentario</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>

    </mat-step>


    <mat-step>
      <ng-template matStepLabel> confirmar</ng-template>
      <p style="font-weight: bold;"> ¿*Estas seguro de estos datos* ? </p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>

  </mat-stepper>



  <!-- </form> -->



</mat-dialog-content>