<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label class="header-text">
        Descripcion
        <mat-icon class="material-icons-outlined ml-1">description</mat-icon>
        
      </ng-template>
      <div class="p-2">
        {{descripciones.descripcion}}
      </div>
     
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        Menu 
        <mat-icon class="example-tab-icon ml-1" >restaurant</mat-icon>
        
      </ng-template>
      <div class="p-2">
        {{ descripciones.descripcion }}
      </div>
   
    </mat-tab>
  
  
  </mat-tab-group>