

<h2 mat-dialog-title style="width: 40rem;" class="p-3">
    <div class="d-flex justify-content-between ">
    <div fxLayout="column" fxLayoutGap="gappx">
        <div >
            <div  >
                Crear comentario
            </div>
   
        </div>
    </div>
    <button mat-icon-button mat-dialog-close aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>clear</mat-icon>
      </button>
      </div>
</h2>

<mat-card-content>

    <div class="d-flex justify-content-center aling-items-center">
{{mensageText}}       

    </div>
</mat-card-content>
