*{
    font-size: 1.5rem;
}

.header-text {
  //  border-bottom: 1px solid black; 
    font-weight: bold;
}

.container-input {
    background-color: rgba(177, 177, 177, 0.161); 
    padding: 1rem;
    width: 100%;
}

.container-coments {
    background-color: rgba(177, 177, 177, 0.161); 
    padding: 3rem;
    width: 100%;
}