.centrado-menor-10 {
    position:relative;
    top: -0px; 
    left: -59px;
    font-size: 2rem;
}

.centrado-mayor-10 {
    position:relative;
    top: -0px; 
    left: -67px;
    font-size: 2rem;
}

