.centrado-menor-10 {
    position:relative;
    top: -60px; 
    left: 40px;
    font-size: 2rem;
}

.centrado-mayor-10 {
    position:relative;
    top: -60px; 
    left: 35px;
    font-size: 2rem;
}

