
    <div style="width: 100%; margin-top: 3rem; margin-bottom: 3rem; padding: 2rem; ">
        <h1 class="text-center">Inicio de sesion </h1>
        <form class="formulario" [formGroup]="inicioSesionUsuarioForm" autocomplete="off" style="width: 100%;">

            <div class="text-center m-3 "style="width: 100%;" >
                <mat-form-field appearance="outline" class="carrusel" style="max-width: 30rem;">
                    <mat-label>Enter your email</mat-label>

                    <input matInput type="text" formControlName="emailUser">

                    <button mat-icon-button matSuffix>
                        <mat-icon matSuffix class="material-icons">email</mat-icon>
                    </button>

                </mat-form-field>

            </div>

            <div class="text-center m-3 " style="width: 100%;">
                <mat-form-field appearance="outline" class="carrusel" style="max-width: 30rem;">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="passUser">

                    <button mat-icon-button matSuffix (click)="hidePass()" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon matSuffix class="material-icons"> {{ (hide ? "visibility_off" : "visibility" )}}
                        </mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div class="text-center m-3">
                <a class="text-dark" routerLink="/registar">No tienes cuenta ? Registate aqui </a>
            </div>

            <div class="text-center m-6">
                <button [disabled]="inicioSesionUsuarioForm.invalid" mat-raised-button color="primary"
                    class="buton-login" (click)="inicioSesion()">Inicio sesion</button>
            </div>

        </form>

    </div>


