* {
    font-size: 1rem;
}


.carrusel {
    width: 100%;
}

.carrusel-container {
    margin-bottom: 3rem;
}
@media (max-width: 625) {
    .carrusel-container {
        width: 100%;
    }
    .carrusel {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .carrusel-container {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .carrusel-container {
        width: 50%;
    }
}