
::ng-deep.mat-dialog-container {
    padding: 0px !important;
    overflow: none;
    width: 100rem;

    max-width: 40rem;
}

textarea {
    font-size: 1rem;
}
h2 {
    background-color: #33363f;
    color: white;
}

// textarea{
//     font-size: 2rem;
// }