.separador {
    border-bottom: 2px solid black; width: 100%;
}


.targeta-container{
    background-color: rgba(177, 177, 177, 0.161);

border: 2px solid black; 
width: 100%; 
max-width: 90%; 
height: 10rem;  
max-height: 20rem;  
margin-left: 2rem; 
margin-left: 2rem;
}